In [1]:
import pandas as pd
import numpy as np 
import scipy
from math import sqrt
import matplotlib.pyplot as plt

In [2]:
regression_data=pd.read_csv('default of credit card clients cleaned.csv')

In [3]:
regression_data.head()

,Unnamed: 0,ID,CREDIT LIMIT,SEX,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,EDUCATION_graduate school,EDUCATION_high school,EDUCATION_other,EDUCATION_university,Age Group
0,0,1,low to mid,0,1,24,2,2,0,0,...,0,0,0,0,0,0,0,0,1,Young Adult
1,1,2,highest,0,2,26,0,2,0,0,...,1000,1000,0,2000,0,0,0,0,1,Young Adult
2,2,3,high,0,2,34,0,0,0,0,...,1000,1000,1000,5000,1,0,0,0,1,Young Adult
3,3,4,mid,0,1,37,0,0,0,0,...,1200,1100,1069,1000,1,0,0,0,1,Middle Aged Adult
4,4,5,mid,1,1,57,0,0,0,0,...,10000,9000,689,679,1,0,0,0,1,Older Adult

In [4]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn import linear_model

In [5]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score 
from sklearn.model_selection import cross_val_score

In [6]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

In [7]:
regression_data = pd.get_dummies(regression_data)

In [8]:
regression_data.dtypes

Unnamed: 0                     int64
ID                             int64
SEX                            int64
MARRIAGE                       int64
AGE                            int64
PAY_0                          int64
PAY_2                          int64
PAY_3                          int64
PAY_4                          int64
PAY_5                          int64
PAY_6                          int64
BILL_AMT1                      int64
BILL_AMT2                      int64
BILL_AMT3                      int64
BILL_AMT4                      int64
BILL_AMT5                      int64
BILL_AMT6                      int64
PAY_AMT1                       int64
PAY_AMT2                       int64
PAY_AMT3                       int64
PAY_AMT4                       int64
PAY_AMT5                       int64
PAY_AMT6                       int64
default                        int64
EDUCATION_graduate school      int64
EDUCATION_high school          int64
EDUCATION_other                int64
EDUCATION_university           int64
CREDIT LIMIT_high              uint8
CREDIT LIMIT_highest           uint8
CREDIT LIMIT_low to mid        uint8
CREDIT LIMIT_mid               uint8
CREDIT LIMIT_mid to high       uint8
Age Group_Middle Aged Adult    uint8
Age Group_Older Adult          uint8
Age Group_Senior               uint8
Age Group_Young Adult          uint8
dtype: object

In [9]:
corrMat = regression_data.corr()
print(corrMat)

                             Unnamed: 0        ID       SEX  MARRIAGE  \
Unnamed: 0                     1.000000  1.000000 -0.018497 -0.029079
ID                             1.000000  1.000000 -0.018497 -0.029079
SEX                           -0.018497 -0.018497  1.000000  0.031389
MARRIAGE                      -0.029079 -0.029079  0.031389  1.000000
AGE                            0.018678  0.018678  0.090874 -0.414170
PAY_0                         -0.020978 -0.020978  0.034475 -0.011724
PAY_2                         -0.010001 -0.010001  0.044750 -0.009915
PAY_3                         -0.018820 -0.018820  0.041227  0.000717
PAY_4                          0.013700  0.013700  0.039737 -0.004039
PAY_5                         -0.020336 -0.020336  0.038533 -0.002772
PAY_6                         -0.032450 -0.032450  0.032061  0.002050
BILL_AMT1                      0.019389  0.019389  0.033642 -0.023472
BILL_AMT2                      0.017982  0.017982  0.031183 -0.021602
BILL_AMT3                      0.024354  0.024354  0.024563 -0.024909
BILL_AMT4                      0.040351  0.040351  0.021880 -0.023344
BILL_AMT5                      0.016705  0.016705  0.017005 -0.025393
BILL_AMT6                      0.016730  0.016730  0.016733 -0.021207
PAY_AMT1                       0.009742  0.009742  0.000242 -0.005979
PAY_AMT2                       0.008406  0.008406  0.001391 -0.008093
PAY_AMT3                       0.039151  0.039151  0.008597 -0.003541
PAY_AMT4                       0.007793  0.007793  0.002229 -0.012659
PAY_AMT5                       0.000652  0.000652  0.001667 -0.001205
PAY_AMT6                       0.003000  0.003000  0.002766 -0.006641
default                        0.013952  0.013952 -0.039961  0.024339
EDUCATION_graduate school     -0.025858 -0.025858  0.022750  0.142129
EDUCATION_high school          0.017475  0.017475  0.007650 -0.110845
EDUCATION_other                0.037165  0.037165 -0.008498 -0.008386
EDUCATION_university           0.002569  0.002569 -0.025353 -0.051797
CREDIT LIMIT_high             -0.002432 -0.002432 -0.044461 -0.000286
CREDIT LIMIT_highest           0.000930  0.000930 -0.020545  0.008690
CREDIT LIMIT_low to mid       -0.017632 -0.017632  0.059266  0.063745
CREDIT LIMIT_mid              -0.021185 -0.021185  0.060942  0.037959
CREDIT LIMIT_mid to high      -0.003810 -0.003810 -0.023230  0.025715
Age Group_Middle Aged Adult    0.016646  0.016646  0.044328 -0.335587
Age Group_Older Adult         -0.001361 -0.001361  0.047588 -0.140972
Age Group_Senior              -0.005462 -0.005462  0.018503 -0.045122
Age Group_Young Adult         -0.014139 -0.014139 -0.069203  0.401167

                                  AGE     PAY_0     PAY_2     PAY_3     PAY_4  \
Unnamed: 0                   0.018678 -0.020978 -0.010001 -0.018820  0.013700
ID                           0.018678 -0.020978 -0.010001 -0.018820  0.013700
SEX                          0.090874  0.034475  0.044750  0.041227  0.039737
MARRIAGE                    -0.414170 -0.011724 -0.009915  0.000717 -0.004039
AGE                          1.000000 -0.001447 -0.008774 -0.014266 -0.007288
PAY_0                       -0.001447  1.000000  0.698389  0.516970  0.460224
PAY_2                       -0.008774  0.698389  1.000000  0.663529  0.512773
PAY_3                       -0.014266  0.516970  0.663529  1.000000  0.678931
PAY_4                       -0.007288  0.460224  0.512773  0.678931  1.000000
PAY_5                       -0.013277  0.424473  0.462717  0.551430  0.745419
PAY_6                       -0.016948  0.373805  0.407086  0.492827  0.602875
BILL_AMT1                    0.056239 -0.000819  0.011684 -0.020586 -0.025184
BILL_AMT2                    0.054283  0.009137  0.015932 -0.000968 -0.012569
BILL_AMT3                    0.053710  0.013307  0.022950  0.002447  0.002670
BILL_AMT4                    0.051353  0.022100  0.032467  0.016579  0.014654
BILL_AMT5                    0.049345  0.030731  0.040422  0.026196  0.027239
BILL_AMT6                    0.047613  0.030201  0.042222  0.028979  0.033138
PAY_AMT1                     0.026147 -0.079177 -0.097475 -0.039356 -0.054484
PAY_AMT2                     0.021785 -0.057189 -0.054838 -0.073670 -0.036877
PAY_AMT3                     0.029247 -0.062620 -0.059865 -0.057702 -0.074064
PAY_AMT4                     0.021379 -0.061886 -0.053981 -0.053849 -0.055305
PAY_AMT5                     0.022850 -0.053784 -0.048714 -0.050805 -0.052732
PAY_AMT6                     0.019478 -0.048733 -0.043099 -0.048443 -0.048828
default                     -0.013890 -0.396019 -0.327093 -0.286999 -0.269055
EDUCATION_graduate school   -0.100423 -0.067995 -0.083577 -0.071695 -0.068194
EDUCATION_high school        0.231252  0.041765  0.043848  0.041790  0.039355
EDUCATION_other              0.008982 -0.025452 -0.038173 -0.041272 -0.036438
EDUCATION_university        -0.077626  0.040454  0.056992  0.047909  0.045161
CREDIT LIMIT_high           -0.031807  0.037822  0.029337  0.020565  0.022760
CREDIT LIMIT_highest        -0.016167 -0.004238  0.003347  0.004421  0.004704
CREDIT LIMIT_low to mid     -0.065940  0.142883  0.168200  0.169568  0.155422
CREDIT LIMIT_mid            -0.022652  0.042565  0.052551  0.047371  0.042983
CREDIT LIMIT_mid to high    -0.038573  0.034560  0.042941  0.038573  0.040953
Age Group_Middle Aged Adult  0.511432 -0.007615 -0.014120 -0.017439 -0.013949
Age Group_Older Adult        0.581946  0.022002  0.017383  0.014768  0.015307
Age Group_Senior             0.212550  0.001273 -0.002204 -0.007288 -0.002510
Age Group_Young Adult       -0.817161 -0.004058  0.005358  0.009875  0.005973

                                PAY_5  ...  EDUCATION_university  \
Unnamed: 0                  -0.020336  ...              0.002569
ID                          -0.020336  ...              0.002569
SEX                          0.038533  ...             -0.025353
MARRIAGE                    -0.002772  ...             -0.051797
AGE                         -0.013277  ...             -0.077626
PAY_0                        0.424473  ...              0.040454
PAY_2                        0.462717  ...              0.056992
PAY_3                        0.551430  ...              0.047909
PAY_4                        0.745419  ...              0.045161
PAY_5                        1.000000  ...              0.041920
PAY_6                        0.740357  ...              0.038871
BILL_AMT1                   -0.018581  ...              0.030323
BILL_AMT2                   -0.008614  ...              0.028716
BILL_AMT3                    0.003377  ...              0.022288
BILL_AMT4                    0.024139  ...              0.021648
BILL_AMT5                    0.036216  ...              0.019690
BILL_AMT6                    0.042616  ...              0.024555
PAY_AMT1                    -0.053692  ...             -0.032998
PAY_AMT2                    -0.039586  ...             -0.033132
PAY_AMT3                    -0.037270  ...             -0.035608
PAY_AMT4                    -0.065943  ...             -0.026965
PAY_AMT5                    -0.051815  ...             -0.021270
PAY_AMT6                    -0.046110  ...             -0.026310
default                     -0.260850  ...             -0.036467
EDUCATION_graduate school   -0.057303  ...             -0.692075
EDUCATION_high school        0.029218  ...             -0.414989
EDUCATION_other             -0.035103  ...             -0.117992
EDUCATION_university         0.041920  ...              1.000000
CREDIT LIMIT_high            0.023348  ...              0.035090
CREDIT LIMIT_highest         0.009974  ...              0.021051
CREDIT LIMIT_low to mid      0.144597  ...              0.072060
CREDIT LIMIT_mid             0.033851  ...              0.058572
CREDIT LIMIT_mid to high     0.048871  ...              0.033232
Age Group_Middle Aged Adult -0.020388  ...              0.000714
Age Group_Older Adult        0.013080  ...             -0.063772
Age Group_Senior             0.001256  ...             -0.025912
Age Group_Young Adult        0.013808  ...              0.032733

                             CREDIT LIMIT_high  CREDIT LIMIT_highest  \
Unnamed: 0                           -0.002432              0.000930
ID                                   -0.002432              0.000930
SEX                                  -0.044461             -0.020545
MARRIAGE                             -0.000286              0.008690
AGE                                  -0.031807             -0.016167
PAY_0                                 0.037822             -0.004238
PAY_2                                 0.029337              0.003347
PAY_3                                 0.020565              0.004421
PAY_4                                 0.022760              0.004704
PAY_5                                 0.023348              0.009974
PAY_6                                 0.022593              0.020784
BILL_AMT1                            -0.028731              0.006972
BILL_AMT2                            -0.030046              0.009746
BILL_AMT3                            -0.033014              0.009727
BILL_AMT4                            -0.037616              0.010124
BILL_AMT5                            -0.038587              0.009389
BILL_AMT6                            -0.035858              0.012000
PAY_AMT1                             -0.039327             -0.014150
PAY_AMT2                             -0.028588             -0.018847
PAY_AMT3                             -0.040830             -0.018590
PAY_AMT4                             -0.040344             -0.022801
PAY_AMT5                             -0.034111             -0.017247
PAY_AMT6                             -0.040903             -0.015710
default                              -0.020256             -0.007983
EDUCATION_graduate school            -0.065027             -0.014869
EDUCATION_high school                 0.036918             -0.003680
EDUCATION_other                      -0.000820             -0.016428
EDUCATION_university                  0.035090              0.021051
CREDIT LIMIT_high                     1.000000             -0.074806
CREDIT LIMIT_highest                 -0.074806              1.000000
CREDIT LIMIT_low to mid              -0.128825             -0.078884
CREDIT LIMIT_mid                     -0.128968             -0.078971
CREDIT LIMIT_mid to high             -0.081750             -0.050058
Age Group_Middle Aged Adult          -0.032704             -0.018071
Age Group_Older Adult                 0.001639             -0.002877
Age Group_Senior                      0.001814             -0.004899
Age Group_Young Adult                 0.032185              0.020564

                             CREDIT LIMIT_low to mid  CREDIT LIMIT_mid  \
Unnamed: 0                                 -0.017632         -0.021185
ID                                         -0.017632         -0.021185
SEX                                         0.059266          0.060942
MARRIAGE                                    0.063745          0.037959
AGE                                        -0.065940         -0.022652
PAY_0                                       0.142883          0.042565
PAY_2                                       0.168200          0.052551
PAY_3                                       0.169568          0.047371
PAY_4                                       0.155422          0.042983
PAY_5                                       0.144597          0.033851
PAY_6                                       0.136130          0.031489
BILL_AMT1                                  -0.177264         -0.100317
BILL_AMT2                                  -0.172351         -0.099571
BILL_AMT3                                  -0.166397         -0.103365
BILL_AMT4                                  -0.159571         -0.116971
BILL_AMT5                                  -0.155124         -0.124444
BILL_AMT6                                  -0.157510         -0.121482
PAY_AMT1                                   -0.082008         -0.066625
PAY_AMT2                                   -0.064601         -0.053203
PAY_AMT3                                   -0.076140         -0.064391
PAY_AMT4                                   -0.078578         -0.064720
PAY_AMT5                                   -0.083121         -0.069309
PAY_AMT6                                   -0.081350         -0.070381
default                                    -0.116901         -0.044953
EDUCATION_graduate school                  -0.135854         -0.110925
EDUCATION_high school                       0.082118          0.070918
EDUCATION_other                            -0.011583         -0.019946
EDUCATION_university                        0.072060          0.058572
CREDIT LIMIT_high                          -0.128825         -0.128968
CREDIT LIMIT_highest                       -0.078884         -0.078971
CREDIT LIMIT_low to mid                     1.000000         -0.135998
CREDIT LIMIT_mid                           -0.135998          1.000000
CREDIT LIMIT_mid to high                   -0.086206         -0.086301
Age Group_Middle Aged Adult                -0.050655         -0.027052
Age Group_Older Adult                       0.023366          0.033472
Age Group_Senior                           -0.013862         -0.012195
Age Group_Young Adult                       0.030749          0.010902

                             CREDIT LIMIT_mid to high  \
Unnamed: 0                                  -0.003810
ID                                          -0.003810
SEX                                         -0.023230
MARRIAGE                                     0.025715
AGE                                         -0.038573
PAY_0                                        0.034560
PAY_2                                        0.042941
PAY_3                                        0.038573
PAY_4                                        0.040953
PAY_5                                        0.048871
PAY_6                                        0.045270
BILL_AMT1                                   -0.032123
BILL_AMT2                                   -0.030886
BILL_AMT3                                   -0.030696
BILL_AMT4                                   -0.035315
BILL_AMT5                                   -0.039659
BILL_AMT6                                   -0.036957
PAY_AMT1                                    -0.030020
PAY_AMT2                                    -0.025614
PAY_AMT3                                    -0.032083
PAY_AMT4                                    -0.033594
PAY_AMT5                                    -0.031656
PAY_AMT6                                    -0.034138
default                                     -0.035786
EDUCATION_graduate school                   -0.048445
EDUCATION_high school                        0.023133
EDUCATION_other                             -0.016101
EDUCATION_university                         0.033232
CREDIT LIMIT_high                           -0.081750
CREDIT LIMIT_highest                        -0.050058
CREDIT LIMIT_low to mid                     -0.086206
CREDIT LIMIT_mid                            -0.086301
CREDIT LIMIT_mid to high                     1.000000
Age Group_Middle Aged Adult                 -0.029830
Age Group_Older Adult                       -0.004642
Age Group_Senior                            -0.004241
Age Group_Young Adult                        0.032583

                             Age Group_Middle Aged Adult  \
Unnamed: 0                                      0.016646
ID                                              0.016646
SEX                                             0.044328
MARRIAGE                                       -0.335587
AGE                                             0.511432
PAY_0                                          -0.007615
PAY_2                                          -0.014120
PAY_3                                          -0.017439
PAY_4                                          -0.013949
PAY_5                                          -0.020388
PAY_6                                          -0.022907
BILL_AMT1                                       0.030566
BILL_AMT2                                       0.029646
BILL_AMT3                                       0.027481
BILL_AMT4                                       0.025360
BILL_AMT5                                       0.025711
BILL_AMT6                                       0.025698
PAY_AMT1                                        0.028299
PAY_AMT2                                        0.024449
PAY_AMT3                                        0.021109
PAY_AMT4                                        0.022441
PAY_AMT5                                        0.022898
PAY_AMT6                                        0.012955
default                                        -0.007687
EDUCATION_graduate school                      -0.077945
EDUCATION_high school                           0.096916
EDUCATION_other                                 0.008171
EDUCATION_university                            0.000714
CREDIT LIMIT_high                              -0.032704
CREDIT LIMIT_highest                           -0.018071
CREDIT LIMIT_low to mid                        -0.050655
CREDIT LIMIT_mid                               -0.027052
CREDIT LIMIT_mid to high                       -0.029830
Age Group_Middle Aged Adult                     1.000000
Age Group_Older Adult                          -0.210702
Age Group_Senior                               -0.045901
Age Group_Young Adult                          -0.850255

                             Age Group_Older Adult  Age Group_Senior  \
Unnamed: 0                               -0.001361         -0.005462
ID                                       -0.001361         -0.005462
SEX                                       0.047588          0.018503
MARRIAGE                                 -0.140972         -0.045122
AGE                                       0.581946          0.212550
PAY_0                                     0.022002          0.001273
PAY_2                                     0.017383         -0.002204
PAY_3                                     0.014768         -0.007288
PAY_4                                     0.015307         -0.002510
PAY_5                                     0.013080          0.001256
PAY_6                                     0.012411          0.003914
BILL_AMT1                                 0.007179          0.025630
BILL_AMT2                                 0.006635          0.024948
BILL_AMT3                                 0.007490          0.022738
BILL_AMT4                                 0.005586          0.027093
BILL_AMT5                                 0.002326          0.027832
BILL_AMT6                                -0.000971          0.031222
PAY_AMT1                                 -0.007167          0.010569
PAY_AMT2                                 -0.009747         -0.002210
PAY_AMT3                                 -0.001957          0.002978
PAY_AMT4                                 -0.011496         -0.000722
PAY_AMT5                                 -0.016934          0.018551
PAY_AMT6                                 -0.009452          0.004833
default                                  -0.022197         -0.004874
EDUCATION_graduate school                -0.066608         -0.011324
EDUCATION_high school                     0.171475          0.049120
EDUCATION_other                           0.001373          0.001264
EDUCATION_university                     -0.063772         -0.025912
CREDIT LIMIT_high                         0.001639          0.001814
CREDIT LIMIT_highest                     -0.002877         -0.004899
CREDIT LIMIT_low to mid                   0.023366         -0.013862
CREDIT LIMIT_mid                          0.033472         -0.012195

In [10]:
#removing what I don't want 
regression_data.drop(['ID','PAY_0','PAY_2','PAY_3','PAY_4','PAY_5','PAY_6','EDUCATION_other','EDUCATION_graduate school','EDUCATION_high school','EDUCATION_university'], axis=1, inplace= True)

In [11]:
regression_data.head()

,Unnamed: 0,SEX,MARRIAGE,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,...,default,CREDIT LIMIT_high,CREDIT LIMIT_highest,CREDIT LIMIT_low to mid,CREDIT LIMIT_mid,CREDIT LIMIT_mid to high,Age Group_Middle Aged Adult,Age Group_Older Adult,Age Group_Senior,Age Group_Young Adult
0,0,0,1,24,3913,3102,689,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,1,0,2,26,2682,1725,2682,3272,3455,3261,...,0,0,1,0,0,0,0,0,0,1
2,2,0,2,34,29239,14027,13559,14331,14948,15549,...,1,1,0,0,0,0,0,0,0,1
3,3,0,1,37,46990,48233,49291,28314,28959,29547,...,1,0,0,0,1,0,1,0,0,0
4,4,1,1,57,8617,5670,35835,20940,19146,19131,...,1,0,0,0,1,0,0,1,0,0

In [12]:
#choosing my features 
X=regression_data.iloc[:,0:17]
print('Summary of feature sample')
X.head()

Summary of feature sample

,Unnamed: 0,SEX,MARRIAGE,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,0,0,1,24,3913,3102,689,0,0,0,0,689,0,0,0,0,0
1,1,0,2,26,2682,1725,2682,3272,3455,3261,0,1000,1000,1000,0,2000,0
2,2,0,2,34,29239,14027,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000,1
3,3,0,1,37,46990,48233,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000,1
4,4,1,1,57,8617,5670,35835,20940,19146,19131,2000,36681,10000,9000,689,679,1

In [13]:
#dependent variable 
y=regression_data['CREDIT LIMIT_high']
y.head()

0    0
1    0
2    1
3    0
4    0
Name: CREDIT LIMIT_high, dtype: uint8

In [14]:
print(y)

0        0
1        0
2        1
3        0
4        0
        ..
29995    0
29996    0
29997    0
29998    1
29999    0
Name: CREDIT LIMIT_high, Length: 30000, dtype: uint8

In [15]:
from sklearn.model_selection import cross_val_score

In [16]:
algosClass = []

In [17]:
algosClass.append(('Random Forest',RandomForestRegressor()))

In [18]:
algosClass.append(('Linear Regression',LinearRegression()))

In [19]:
algosClass.append(('Support Vector Regression',SVR()))

In [20]:
#regression
results = []
names = []
for name, model in algosClass:
    result = cross_val_score(model, X,y, cv=3, scoring='r2')
    names.append(name)
    results.append(result)

In [21]:
for i in range(len(names)):
    print(names[i],results[i].mean())

Random Forest 0.07404427148366344
Linear Regression 0.0067602281963161275
Support Vector Regression 0.0025904283787826867

In [22]:
regression_data.head()

,Unnamed: 0,SEX,MARRIAGE,AGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,...,default,CREDIT LIMIT_high,CREDIT LIMIT_highest,CREDIT LIMIT_low to mid,CREDIT LIMIT_mid,CREDIT LIMIT_mid to high,Age Group_Middle Aged Adult,Age Group_Older Adult,Age Group_Senior,Age Group_Young Adult
0,0,0,1,24,3913,3102,689,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,1,0,2,26,2682,1725,2682,3272,3455,3261,...,0,0,1,0,0,0,0,0,0,1
2,2,0,2,34,29239,14027,13559,14331,14948,15549,...,1,1,0,0,0,0,0,0,0,1
3,3,0,1,37,46990,48233,49291,28314,28959,29547,...,1,0,0,0,1,0,1,0,0,0
4,4,1,1,57,8617,5670,35835,20940,19146,19131,...,1,0,0,0,1,0,0,1,0,0

In [29]:
#attempting to rearrange my column order 
cols_to_order = regression_data[['CREDIT LIMIT_high','CREDIT LIMIT_highest','CREDIT LIMIT_low to mid','CREDIT LIMIT_mid to high','CREDIT LIMIT_mid']]

In [30]:
cols = ([col for col in cols_to_order if col in regression_data ] + [col for col in regression_data if col not in cols_to_order])
regression_data = regression_data[cols]

In [31]:
regression_data.head()

,CREDIT LIMIT_high,CREDIT LIMIT_highest,CREDIT LIMIT_low to mid,CREDIT LIMIT_mid to high,CREDIT LIMIT_mid,Unnamed: 0,SEX,MARRIAGE,AGE,BILL_AMT1,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,Age Group_Middle Aged Adult,Age Group_Older Adult,Age Group_Senior,Age Group_Young Adult
0,0,0,1,0,0,0,0,1,24,3913,...,689,0,0,0,0,0,0,0,0,1
1,0,1,0,0,0,1,0,2,26,2682,...,1000,1000,1000,0,2000,0,0,0,0,1
2,1,0,0,0,0,2,0,2,34,29239,...,1500,1000,1000,1000,5000,1,0,0,0,1
3,0,0,0,0,1,3,0,1,37,46990,...,2019,1200,1100,1069,1000,1,1,0,0,0
4,0,0,0,0,1,4,1,1,57,8617,...,36681,10000,9000,689,679,1,0,1,0,0

In [40]:
regression_data.drop(['Unnamed: 0'], axis=1, inplace = True)

In [41]:
regression_data.head()

,CREDIT LIMIT_high,CREDIT LIMIT_highest,CREDIT LIMIT_low to mid,CREDIT LIMIT_mid to high,CREDIT LIMIT_mid,SEX,MARRIAGE,AGE,BILL_AMT1,BILL_AMT2,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,Age Group_Middle Aged Adult,Age Group_Older Adult,Age Group_Senior,Age Group_Young Adult
0,0,0,1,0,0,0,1,24,3913,3102,...,689,0,0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,2,26,2682,1725,...,1000,1000,1000,0,2000,0,0,0,0,1
2,1,0,0,0,0,0,2,34,29239,14027,...,1500,1000,1000,1000,5000,1,0,0,0,1
3,0,0,0,0,1,0,1,37,46990,48233,...,2019,1200,1100,1069,1000,1,1,0,0,0
4,0,0,0,0,1,1,1,57,8617,5670,...,36681,10000,9000,689,679,1,0,1,0,0

In [42]:
regression_data.drop(['AGE'], axis=1, inplace=True)

In [43]:
regression_data.head()

,CREDIT LIMIT_high,CREDIT LIMIT_highest,CREDIT LIMIT_low to mid,CREDIT LIMIT_mid to high,CREDIT LIMIT_mid,SEX,MARRIAGE,BILL_AMT1,BILL_AMT2,BILL_AMT3,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default,Age Group_Middle Aged Adult,Age Group_Older Adult,Age Group_Senior,Age Group_Young Adult
0,0,0,1,0,0,0,1,3913,3102,689,...,689,0,0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,2,2682,1725,2682,...,1000,1000,1000,0,2000,0,0,0,0,1
2,1,0,0,0,0,0,2,29239,14027,13559,...,1500,1000,1000,1000,5000,1,0,0,0,1
3,0,0,0,0,1,0,1,46990,48233,49291,...,2019,1200,1100,1069,1000,1,1,0,0,0
4,0,0,0,0,1,1,1,8617,5670,35835,...,36681,10000,9000,689,679,1,0,1,0,0

In [50]:
cols_to_order = regression_data[['CREDIT LIMIT_highest', 'CREDIT LIMIT_high', 'CREDIT LIMIT_mid to high', 'CREDIT LIMIT_mid','CREDIT LIMIT_low to mid','Age Group_Senior', 'Age Group_Older Adult', 'Age Group_Middle Aged Adult','Age Group_Young Adult']]

In [51]:
cols = ([col for col in cols_to_order if col in regression_data ] + [col for col in regression_data if col not in cols_to_order])
regression_data = regression_data[cols]

In [52]:
regression_data.head()

,CREDIT LIMIT_highest,CREDIT LIMIT_high,CREDIT LIMIT_mid to high,CREDIT LIMIT_mid,CREDIT LIMIT_low to mid,Age Group_Senior,Age Group_Older Adult,Age Group_Middle Aged Adult,Age Group_Young Adult,SEX,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,0,0,0,0,1,0,0,0,1,0,...,0,0,0,0,689,0,0,0,0,0
1,1,0,0,0,0,0,0,0,1,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,0
2,0,1,0,0,0,0,0,0,1,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,1
3,0,0,0,1,0,0,0,1,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,1
4,0,0,0,1,0,0,1,0,0,1,...,20940,19146,19131,2000,36681,10000,9000,689,679,1

In [53]:
corrMat = regression_data.corr()
print(corrMat)

                             CREDIT LIMIT_highest  CREDIT LIMIT_high  \
CREDIT LIMIT_highest                     1.000000          -0.074806
CREDIT LIMIT_high                       -0.074806           1.000000
CREDIT LIMIT_mid to high                -0.050058          -0.081750
CREDIT LIMIT_mid                        -0.078971          -0.128968
CREDIT LIMIT_low to mid                 -0.078884          -0.128825
Age Group_Senior                        -0.004899           0.001814
Age Group_Older Adult                   -0.002877           0.001639
Age Group_Middle Aged Adult             -0.018071          -0.032704
Age Group_Young Adult                    0.020564           0.032185
SEX                                     -0.020545          -0.044461
MARRIAGE                                 0.008690          -0.000286
BILL_AMT1                                0.006972          -0.028731
BILL_AMT2                                0.009746          -0.030046
BILL_AMT3                                0.009727          -0.033014
BILL_AMT4                                0.010124          -0.037616
BILL_AMT5                                0.009389          -0.038587
BILL_AMT6                                0.012000          -0.035858
PAY_AMT1                                -0.014150          -0.039327
PAY_AMT2                                -0.018847          -0.028588
PAY_AMT3                                -0.018590          -0.040830
PAY_AMT4                                -0.022801          -0.040344
PAY_AMT5                                -0.017247          -0.034111
PAY_AMT6                                -0.015710          -0.040903
default                                 -0.007983          -0.020256

                             CREDIT LIMIT_mid to high  CREDIT LIMIT_mid  \
CREDIT LIMIT_highest                        -0.050058         -0.078971
CREDIT LIMIT_high                           -0.081750         -0.128968
CREDIT LIMIT_mid to high                     1.000000         -0.086301
CREDIT LIMIT_mid                            -0.086301          1.000000
CREDIT LIMIT_low to mid                     -0.086206         -0.135998
Age Group_Senior                            -0.004241         -0.012195
Age Group_Older Adult                       -0.004642          0.033472
Age Group_Middle Aged Adult                 -0.029830         -0.027052
Age Group_Young Adult                        0.032583          0.010902
SEX                                         -0.023230          0.060942
MARRIAGE                                     0.025715          0.037959
BILL_AMT1                                   -0.032123         -0.100317
BILL_AMT2                                   -0.030886         -0.099571
BILL_AMT3                                   -0.030696         -0.103365
BILL_AMT4                                   -0.035315         -0.116971
BILL_AMT5                                   -0.039659         -0.124444
BILL_AMT6                                   -0.036957         -0.121482
PAY_AMT1                                    -0.030020         -0.066625
PAY_AMT2                                    -0.025614         -0.053203
PAY_AMT3                                    -0.032083         -0.064391
PAY_AMT4                                    -0.033594         -0.064720
PAY_AMT5                                    -0.031656         -0.069309
PAY_AMT6                                    -0.034138         -0.070381
default                                     -0.035786         -0.044953

                             CREDIT LIMIT_low to mid  Age Group_Senior  \
CREDIT LIMIT_highest                       -0.078884         -0.004899
CREDIT LIMIT_high                          -0.128825          0.001814
CREDIT LIMIT_mid to high                   -0.086206         -0.004241
CREDIT LIMIT_mid                           -0.135998         -0.012195
CREDIT LIMIT_low to mid                     1.000000         -0.013862
Age Group_Senior                           -0.013862          1.000000
Age Group_Older Adult                       0.023366         -0.016893
Age Group_Middle Aged Adult                -0.050655         -0.045901
Age Group_Young Adult                       0.030749         -0.068171
SEX                                         0.059266          0.018503
MARRIAGE                                    0.063745         -0.045122
BILL_AMT1                                  -0.177264          0.025630
BILL_AMT2                                  -0.172351          0.024948
BILL_AMT3                                  -0.166397          0.022738
BILL_AMT4                                  -0.159571          0.027093
BILL_AMT5                                  -0.155124          0.027832
BILL_AMT6                                  -0.157510          0.031222
PAY_AMT1                                   -0.082008          0.010569
PAY_AMT2                                   -0.064601         -0.002210
PAY_AMT3                                   -0.076140          0.002978
PAY_AMT4                                   -0.078578         -0.000722
PAY_AMT5                                   -0.083121          0.018551
PAY_AMT6                                   -0.081350          0.004833
default                                    -0.116901         -0.004874

                             Age Group_Older Adult  \
CREDIT LIMIT_highest                     -0.002877
CREDIT LIMIT_high                         0.001639
CREDIT LIMIT_mid to high                 -0.004642
CREDIT LIMIT_mid                          0.033472
CREDIT LIMIT_low to mid                   0.023366
Age Group_Senior                         -0.016893
Age Group_Older Adult                     1.000000
Age Group_Middle Aged Adult              -0.210702
Age Group_Young Adult                    -0.312931
SEX                                       0.047588
MARRIAGE                                 -0.140972
BILL_AMT1                                 0.007179
BILL_AMT2                                 0.006635
BILL_AMT3                                 0.007490
BILL_AMT4                                 0.005586
BILL_AMT5                                 0.002326
BILL_AMT6                                -0.000971
PAY_AMT1                                 -0.007167
PAY_AMT2                                 -0.009747
PAY_AMT3                                 -0.001957
PAY_AMT4                                 -0.011496
PAY_AMT5                                 -0.016934
PAY_AMT6                                 -0.009452
default                                  -0.022197

                             Age Group_Middle Aged Adult  \
CREDIT LIMIT_highest                           -0.018071
CREDIT LIMIT_high                              -0.032704
CREDIT LIMIT_mid to high                       -0.029830
CREDIT LIMIT_mid                               -0.027052
CREDIT LIMIT_low to mid                        -0.050655
Age Group_Senior                               -0.045901
Age Group_Older Adult                          -0.210702
Age Group_Middle Aged Adult                     1.000000
Age Group_Young Adult                          -0.850255
SEX                                             0.044328
MARRIAGE                                       -0.335587
BILL_AMT1                                       0.030566
BILL_AMT2                                       0.029646
BILL_AMT3                                       0.027481
BILL_AMT4                                       0.025360
BILL_AMT5                                       0.025711
BILL_AMT6                                       0.025698
PAY_AMT1                                        0.028299
PAY_AMT2                                        0.024449
PAY_AMT3                                        0.021109
PAY_AMT4                                        0.022441
PAY_AMT5                                        0.022898
PAY_AMT6                                        0.012955
default                                        -0.007687

                             Age Group_Young Adult       SEX  ...  BILL_AMT4  \
CREDIT LIMIT_highest                      0.020564 -0.020545  ...   0.010124
CREDIT LIMIT_high                         0.032185 -0.044461  ...  -0.037616
CREDIT LIMIT_mid to high                  0.032583 -0.023230  ...  -0.035315
CREDIT LIMIT_mid                          0.010902  0.060942  ...  -0.116971
CREDIT LIMIT_low to mid                   0.030749  0.059266  ...  -0.159571
Age Group_Senior                         -0.068171  0.018503  ...   0.027093
Age Group_Older Adult                    -0.312931  0.047588  ...   0.005586
Age Group_Middle Aged Adult              -0.850255  0.044328  ...   0.025360
Age Group_Young Adult                     1.000000 -0.069203  ...  -0.028643
SEX                                      -0.069203  1.000000  ...   0.021880
MARRIAGE                                  0.401167  0.031389  ...  -0.023344
BILL_AMT1                                -0.034378  0.033642  ...   0.860272
BILL_AMT2                                -0.033121  0.031183  ...   0.892482
BILL_AMT3                                -0.031184  0.024563  ...   0.923969
BILL_AMT4                                -0.028643  0.021880  ...   1.000000
BILL_AMT5                                -0.027345  0.017005  ...   0.940134
BILL_AMT6                                -0.025847  0.016733  ...   0.900941
PAY_AMT1                                 -0.024004  0.000242  ...   0.233012
PAY_AMT2                                 -0.017533  0.001391  ...   0.207564
PAY_AMT3                                 -0.018763  0.008597  ...   0.300023
PAY_AMT4                                 -0.014684  0.002229  ...   0.130191
PAY_AMT5                                 -0.014463  0.001667  ...   0.160433
PAY_AMT6                                 -0.007046  0.002766  ...   0.177637
default                                   0.019459 -0.039961  ...   0.010156

                             BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
CREDIT LIMIT_highest          0.009389   0.012000 -0.014150 -0.018847
CREDIT LIMIT_high            -0.038587  -0.035858 -0.039327 -0.028588
CREDIT LIMIT_mid to high     -0.039659  -0.036957 -0.030020 -0.025614
CREDIT LIMIT_mid             -0.124444  -0.121482 -0.066625 -0.053203
CREDIT LIMIT_low to mid      -0.155124  -0.157510 -0.082008 -0.064601
Age Group_Senior              0.027832   0.031222  0.010569 -0.002210
Age Group_Older Adult         0.002326  -0.000971 -0.007167 -0.009747
Age Group_Middle Aged Adult   0.025711   0.025698  0.028299  0.024449
Age Group_Young Adult        -0.027345  -0.025847 -0.024004 -0.017533
SEX                           0.017005   0.016733  0.000242  0.001391
MARRIAGE                     -0.025393  -0.021207 -0.005979 -0.008093
BILL_AMT1                     0.829779   0.802650  0.140277  0.099355
BILL_AMT2                     0.859778   0.831594  0.280365  0.100851
BILL_AMT3                     0.883910   0.853320  0.244335  0.316936
BILL_AMT4                     0.940134   0.900941  0.233012  0.207564
BILL_AMT5                     1.000000   0.946197  0.217031  0.181246
BILL_AMT6                     0.946197   1.000000  0.199965  0.172663
PAY_AMT1                      0.217031   0.199965  1.000000  0.285576
PAY_AMT2                      0.181246   0.172663  0.285576  1.000000
PAY_AMT3                      0.252305   0.233770  0.252191  0.244770
PAY_AMT4                      0.293118   0.250237  0.199558  0.180107
PAY_AMT5                      0.141574   0.307729  0.148459  0.180908
PAY_AMT6                      0.164184   0.115494  0.185735  0.157634
default                       0.006760   0.005372  0.072929  0.058579

                             PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6   default
CREDIT LIMIT_highest        -0.018590 -0.022801 -0.017247 -0.015710 -0.007983
CREDIT LIMIT_high           -0.040830 -0.040344 -0.034111 -0.040903 -0.020256
CREDIT LIMIT_mid to high    -0.032083 -0.033594 -0.031656 -0.034138 -0.035786
CREDIT LIMIT_mid            -0.064391 -0.064720 -0.069309 -0.070381 -0.044953
CREDIT LIMIT_low to mid     -0.076140 -0.078578 -0.083121 -0.081350 -0.116901
Age Group_Senior             0.002978 -0.000722  0.018551  0.004833 -0.004874
Age Group_Older Adult       -0.001957 -0.011496 -0.016934 -0.009452 -0.022197
Age Group_Middle Aged Adult  0.021109  0.022441  0.022898  0.012955 -0.007687
Age Group_Young Adult       -0.018763 -0.014684 -0.014463 -0.007046  0.019459
SEX                          0.008597  0.002229  0.001667  0.002766 -0.039961
MARRIAGE                    -0.003541 -0.012659 -0.001205 -0.006641  0.024339
BILL_AMT1                    0.156887  0.158303  0.167026  0.179341  0.019644
BILL_AMT2                    0.150718  0.147398  0.157957  0.174256  0.014193
BILL_AMT3                    0.130011  0.143405  0.179712  0.182326  0.014076
BILL_AMT4                    0.300023  0.130191  0.160433  0.177637  0.010156
BILL_AMT5                    0.252305  0.293118  0.141574  0.164184  0.006760
BILL_AMT6                    0.233770  0.250237  0.307729  0.115494  0.005372
PAY_AMT1                     0.252191  0.199558  0.148459  0.185735  0.072929
PAY_AMT2                     0.244770  0.180107  0.180908  0.157634  0.058579
PAY_AMT3                     1.000000  0.216325  0.159214  0.162740  0.056250
PAY_AMT4                     0.216325  1.000000  0.151830  0.157834  0.056827
PAY_AMT5                     0.159214  0.151830  1.000000  0.154896  0.055124
PAY_AMT6                     0.162740  0.157834  0.154896  1.000000  0.053183
default                      0.056250  0.056827  0.055124  0.053183  1.000000

[24 rows x 24 columns]

In [56]:
#choosing my features part  
X=regression_data.iloc[:,1:24]
print('Summary of feature sample')
X.head()

Summary of feature sample

,CREDIT LIMIT_high,CREDIT LIMIT_mid to high,CREDIT LIMIT_mid,CREDIT LIMIT_low to mid,Age Group_Senior,Age Group_Older Adult,Age Group_Middle Aged Adult,Age Group_Young Adult,SEX,MARRIAGE,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default
0,0,0,0,1,0,0,0,1,0,1,...,0,0,0,0,689,0,0,0,0,0
1,0,0,0,0,0,0,0,1,0,2,...,3272,3455,3261,0,1000,1000,1000,0,2000,0
2,1,0,0,0,0,0,0,1,0,2,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,1
3,0,0,1,0,0,0,1,0,0,1,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,1
4,0,0,1,0,0,1,0,0,1,1,...,20940,19146,19131,2000,36681,10000,9000,689,679,1

In [57]:
#dependent variable 
y=regression_data['CREDIT LIMIT_highest']
y.head()

0    0
1    1
2    0
3    0
4    0
Name: CREDIT LIMIT_highest, dtype: uint8

In [58]:
#regression
results = []
names = []
for name, model in algosClass:
    result = cross_val_score(model, X,y, cv=3, scoring='r2')
    names.append(name)
    results.append(result)

In [59]:
for i in range(len(names)):
    print(names[i],results[i].mean())

Random Forest 0.1209266323009857
Linear Regression 0.036617931009126616
Support Vector Regression -0.06958710823432727

In [60]:
#choosing my features part 3
X=regression_data.iloc[:,0:23]
print('Summary of feature sample')
X.head()

Summary of feature sample

,CREDIT LIMIT_highest,CREDIT LIMIT_high,CREDIT LIMIT_mid to high,CREDIT LIMIT_mid,CREDIT LIMIT_low to mid,Age Group_Senior,Age Group_Older Adult,Age Group_Middle Aged Adult,Age Group_Young Adult,SEX,...,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,0,0,0,0,1,0,0,0,1,0,...,689,0,0,0,0,689,0,0,0,0
1,1,0,0,0,0,0,0,0,1,0,...,2682,3272,3455,3261,0,1000,1000,1000,0,2000
2,0,1,0,0,0,0,0,0,1,0,...,13559,14331,14948,15549,1518,1500,1000,1000,1000,5000
3,0,0,0,1,0,0,0,1,0,0,...,49291,28314,28959,29547,2000,2019,1200,1100,1069,1000
4,0,0,0,1,0,0,1,0,0,1,...,35835,20940,19146,19131,2000,36681,10000,9000,689,679

In [61]:
#dependent variable 
y=regression_data['default']
y.head()

0    0
1    0
2    1
3    1
4    1
Name: default, dtype: int64

In [62]:
#regression
results = []
names = []
for name, model in algosClass:
    result = cross_val_score(model, X,y, cv=3, scoring='r2')
    names.append(name)
    results.append(result)

In [63]:
for i in range(len(names)):
    print(names[i],results[i].mean())

Random Forest 0.08237681074112768
Linear Regression 0.03065702331869317
Support Vector Regression -0.0854899054267586